{%extends "index.html"%}
{%block partcss %}
<link rel="stylesheet" type="text/css" href="../static/css/circuit.css">
{%endblock partcss %}
{%block part %}
<div id="circuits">
    <ul> 
        <div id="addCircuit" class="mini ui button"><i class="big expand icon"></i></div>
    </ul>
</div>
<div id="template">
    <div class="ui modal biobrickselector">
        <i class="close icon"></i>
        <div class="header">
        </div>
        <div class="content"> 
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>
    </div>
    <li><a></a><span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
    <div id="circuit" class="ui column divided grid">
        <div class="row">
            <div class="two wide column">
                <input type="checkbox"></input>
                <div class="ui two column divided grid">
                    <div class="row">
                        <div class="column">
                            input
                            <img class="ui small image" src="../static/images/circuit/input.png">
                        </div>
                        <div class="column">true</div>
                    </div>
                    <div class="row">
                        <div class="column">
                            promoter
                            <img class="ui small image" src="../static/images/circuit/promoter.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            receptors
                            <img class="ui small image" src="../static/images/circuit/receptor.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="two wide column">
                <input type="checkbox"></input>
                <div class="ui two column divided grid">
                    <div class="row">
                        <div class="column">
                            input
                            <img class="ui small image" src="../static/images/circuit/input.png">
                        </div>
                        <div class="column">true</div>
                    </div>
                    <div class="row">
                        <div class="column">
                            promoter
                            <img class="ui small image" src="../static/images/circuit/promoter.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            receptors
                            <img class="ui small image" src="../static/images/circuit/receptor.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="two wide column">
                <div class="row">
                    <div class="column">
                        output
                        <img class="ui small image" src="../static/images/circuit/output.png">
                    </div>
                    <div class="column">true</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock %}
{%block partscript %}
<script src="../static/javascript/circuit.js"></script>
{%endblock partscript %}
