{%extends "layout.html"%}
{% block title %}Design{% endblock %}
{%block css %}
<link rel="stylesheet" type="text/css" href="../static/css/circuit.css">
{%endblock css %}
{%block content %}
<div id="circuits">
    <div class="ui teal button" id="upload">
        Complete
    </div>
    <ul> 
        <div id="addCircuit" class="ui button" style="background:none"><i class="big expand icon"></i></div>
    </ul>
</div>
<div id="template">
    <div class="item logiccontainer itemglass">
        <p>Drag a logic here</p>
    </div>
    <div class="item outputcontainer itemglass">
        <p>Drag a output here</p>
    </div>
    <div class="ui items" id="biolist">
    </div>
    <div class="item part itemglass" name="part">
        <div class="left">
            <div class="ui segment">
                <div class="ui bottom attached label" name="receptor"></div>
                <img class="ui small image element" name="receptor" src="../static/images/circuit/receptor.png">
            </div>
            <div class="ui segment">
                <div class="ui bottom attached label" name="promoter"></div>
                <img class="ui small image element" name="promoter" src="../static/images/circuit/promoter3.png">
            </div>
        </div>
        <div class="right">
            <div class="ui segment">
                <div class="ui bottom attached label" name="input"></div>
                <img class="ui small image element" name="input" src="../static/images/circuit/input.png">
            </div>
        </div>
    </div>
    <div class="item logic">
        <div class="ui segment left">
            <div class="ui bottom attached label" name="name"></div>
            <img class="ui small image element" src="../static/images/circuit/input.png">
        </div>
        <div class="right">
        </div>
    </div>
    <div class="item littlelogic itemglass">
        <div class="ui bottom attached label" name="name"></div>
        <img class="ui small image element" name="logic">
        <div class="ui button delete">
            <i class="remove icon"></i>
        </div>
    </div>
    <div class="item biobrick">
        <div class="ui segment left">
            <div class="ui bottom attached label" name="name"></div>
            <img class="ui small image element">
        </div>
        <div class="ui segment right">
            <div class="ui ribbon label">Part_id</div>
            <p name="id"></p>
            <div class="ui ribbon label">Part_short_name</div>
            <p name="sname"></p>
            <div class="ui ribbon label">Part_short_desc</div>
            <p name="sdesc"></p>
        </div>
    </div> 
    <div class="item littleoutput itemglass">
        <div class="ui bottom attached label" name="name"></div>
        <img class="ui small image element" name="output" src="../static/images/circuit/outputfinal.png">
        <div class="ui button delete">
            <i class="remove icon"></i>
        </div>
    </div> 
    <div class="ui step"></div>
    <div class="ui basic modal frame" id="recommend">
        <i class="close icon"></i>
        <div class="header">
            Recommend
        </div>
        <div class="ui small steps" id="logic-steps">
        </div>
        <div class="ui items" id="recommendlogics">
        </div>
        <div class="actions">
            <div class="ui teal positive right labeled icon button">Confirm<i class="checkmark icon"></i></div>
        </div>
    </div>
    <div class="ui slider checkbox truthele">
        <input type="checkbox" name="truth"><label></label>
    </div>
    <div class="ui basic small modal" id="warning">
        <i class="close icon"></i>
        <div class="header">
            Warning
        </div>
        <div class="content">
            <div class="left">
                <i class="massive warning icon"></i>
            </div>
            <div class="right">
                <p id="warnmessage"></p>
            </div>
        </div>
        <div class="actions">
            <div class="one fluid ui buttons"> 
                <div class="ui negative right labeled icon button">
                    OK
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic small modal" id="repressilator">
        <i class="close icon"></i>
        <div class="header">
            Warning
        </div>
        <div class="content">
            <div class="left">
                <img name="repressilator" src="../static/images/frame/Repressilator-Hg-MerR-TetR-Cl_lambda.png">
            </div>
            <div class="right">
                <p>If you choose repressilator, your previous configuration will be deleted. Are you sure to make this change?</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui buttons">
                <div class="ui negative labeled icon button">
                    <i class="remove icon"></i>
                    Cancel
                </div>
                <div class="ui positive right labeled icon button" name="clear">
                    Confirm
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic small modal" id="toggletwo">
        <i class="close icon"></i>
        <div class="header">
            Warning
        </div>
        <div class="content">
            <div class="left">
                <img name="repressilator" src="../static/images/frame/Toggle switch 2 (Cl_lambda).png">
            </div>
            <div class="right">
                <p>If you choose toggle switch 2, the chosen logics will be deleted and you must select one more outputs for this logic. Are you sure to make this change?</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui buttons">
                <div class="ui negative labeled icon button">
                    <i class="remove icon"></i>
                    Cancel
                </div>
                <div class="ui positive right labeled icon button" name="clear">
                    Confirm
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--div class="ui two column divided grid part">
    <div class="row">
        <div class="column">
            <img class="ui small image element" name="input" src="../static/images/circuit/input.png">
            Input
        </div>
        <div class="column truthcolumn">
            High-Low
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="ui small image element" name="promoter" src="../static/images/circuit/promoter.png">
            Promoter
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="ui small image element" name="receptor" src="../static/images/circuit/receptor.png">
            Receptor
        </div>
    </div>
    </div-->
    <!--div class="column ui two column divided grid output">
    <div class="row">
        <div class="column">
            <img class="ui small image element" name="output" src="../static/images/circuit/output.png">
            Output
        </div>
        <div class="column truthcolumn">
            High-Low
        </div>
    </div>
    </div-->
    <div class="ui button delete">
        <i class="remove icon"></i>
    </div>
    <li class="ui-state-focus"><a></a><i class="remove icon deletecircuit"></i></li>
    <div id="circuit" class="circuit">
        <div class="ui segment column parts">
            <div class="ui items">
            </div>
        </div>
        <div class="ui segment column logics">
            <div class="ui items"> 
            </div>
        </div>
        <div class="ui segment column outputs">
            <div class="ui items"> 
            </div>
        </div>
        <div class="ui segment column truthtable">
            <form>
                <table class="ui collapsing table segment">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr><td></td><td></td></tr>
                    </tbody> 
                </table>
            </form>
            <div class="edittruth">
                <div class="ui tiny button disabled" name="deleteTruthTableRow">
                    <i class="minus checkmark icon"></i>
                </div>
                <div class="ui tiny button disabled" name="addTruthTableRow">
                    <i class="plus checkmark icon"></i>
                </div>
            </div>
            <div class="ui teal button submit" name="submit">
                Submit
            </div>
        </div>
        <div class="ui toggle checkbox mode" z-index="9999"><input type="checkbox" checked><label></label></div>
    </div>
</div>
{%endblock content%}
{%block script %}
<script src="../static/js/Chart.min.js"></script>
<script src="../static/js/circuit.js"></script>
{%endblock script %}
