{%extends "layout.html"%}
{% block title %}DNA{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="static/css/dna.css" />
{% endblock css%}
{% block content %}
<div class="ui segment glass" id="dna_container">
    <div id="dna_main">
        <div id="dna_header">
        </div><!-- end of dna_header -->
        <div id="dna_content">
        </div> <!-- end of dna_content -->
    </div> <!-- end of dna_main -->
<!--     <div class="ui inverted basic button" id="showNewDna"><i class="align justify icon"></i></div> -->
</div> <!-- end of dna_container -->


{% endblock content%}
{% block script %}
  <script type="text/javascript" src="static/js/cursor-controller.js"></script>
  <script type="text/javascript" src="static/js/dna.js"></script>
{% endblock script %}
