{%extends "layout.html"%}
{% block title %}DNA{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="static/css/dna.css" />
{% endblock css%}
{% block content %}
<div id="dna_container">
  <div id="dna_main">
    <div id="dna_header">
      <ul>
        <li>Input: IPTG aTC</li>
        <li>Output: GFP</li>
      </ul>
    </div> <!-- end of dna_header -->
    <div id="dna_content">
      <!--
      <table class="dna_line">
        <tbody>
          <tr class="dna_tag"><td></td></tr>
          <tr class="first_strand"><td></td></tr>
          <tr class="second_strand"><td></td></tr>
          <tr class="dna_unit"><td></td></tr>
        </tbody>
      </table>
      -->
    </div> <!-- end of dna_content -->
  </div> <!-- end of dna_main -->
  <div id="dna_aside">
    <button type="button" class="medium ui button">Export</button>
    <button type="button" class="medium ui button">Comment</button>
  </div> <!-- end of dna_aside -->
</div> <!-- end of dna_container -->

<!--modal box-->
<div id="modal_box">
</div>
{% endblock content%}
{% block script %}
  <script type="text/javascript" src="static/js/dna.js"></script>
{% endblock script %}
