{%extends "layout.html"%}
{% block title %}Shape{% endblock %}
{%block css %}
<link rel="stylesheet" type="text/css" href="static/css/dna.css">
<link rel="stylesheet" type="text/css" href="../static/css/shape.css">
{%endblock css%}
{%block content %}
<div class="teal ui four fluid buttons" id="change">
  <div class="ui button active" name="device">Device</div>
  <div class="ui button" name="parts">Parts</div>
  <div class="ui button" name="vector">Vector</div>
  <div class="ui button" name="dna">DNA</div>
</div>
<div id="slider"></div>
<div class="ui page active dimmer blackglass">
    <div class="content">
        <div class="center">
            <div class="black progress">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="ui cube shape">
    <div class="sides">
        <div class="active dna side">
            <div class="content">
                <div class="center">
                    <div id="dna_container">
                        <div id="dna_main">
                            <div id="dna_header">
                                <ul>
                                    <li>Input: IPTG aTC</li>
                                    <li>Output: GFP</li>
                                </ul>
                            </div> <!-- end of dna_header -->
                            <div id="dna_content">
                                <!--
                                <div class="dna_line">
                                    <div class="dna_tag"><span></span></div>
                                    <div><input class="first_strand" type="text /><span></span></div>
                                    <div><input class="second_strand" type="text /><span></span></div>
                                    <div class="dna_unit"><span></span></div>
                                </div>
                                -->
                            </div> <!-- end of dna_content -->
                        </div> <!-- end of dna_main -->
                        <div id="dna_aside">
                            <button type="button" class="medium ui button">Export</button>
                            <button type="button" class="medium ui button">Comment</button>
                        </div> <!-- end of dna_aside -->
                    </div> <!-- end of dna_container -->

                    <!--modal box-->
                    <div id="dna_modal_box">
                        <div>
                            <p>21-8-2014 at: 19:32:49</p>
                            <i class="trash icon"></i>
                        </div>
                        <div class="ui input">
                            <input type="text" placeholder="scott">
                        </div>
                    </div> <!-- end of dna_modal_box -->
                </div>
            </div>
        </div>
        <div class="vector side">
            <div class="content">
                <div class="center">
                    <div class="ui segment container glass">
                        <div id="vector"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts side">
            <div class="content">
                <div class="center">
                    <div class="ui segment container">
                        <div class="ui segment part"><div class="part-container"><div id="input"></div></div><div class="ui ribbon label title">Input</div></div>
                        <div class="ui segment part"><div class="part-container"><div id="gene"></div></div><div class="ui ribbon label title">Gene</div></div>
                        <div class="ui segment part"><div class="part-container"><div id="output"></div></div><div class="ui ribbon label title">Output</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="device side">
            <div class="content">
                <div class="center">
                    <div class="ui segment container glass">
                        <!--div id="slider"></div-->
                        <!--div class="ui segment"-->
                        <div id="devices">
                        </div>
                        <!--div class="ui active dimmer"><div class="ui large text loader">Loading</div></div-->
                        <!--/div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}

{%block script %} 
<!-- graphiti -->
<script src="../static/js/graphiti/lib/shifty.js"></script>
<script src="../static/js/graphiti/lib/raphael.js"></script>
<!--script src="../static/js/graphiti/lib/jquery.layout.js"></script-->

<script src="../static/js/graphiti/lib/rgbcolor.js"></script>
<script src="../static/js/graphiti/lib/canvg.js"></script>
<script src="../static/js/graphiti/lib/Class.js"></script>
<script src="../static/js/graphiti/lib/json2.js"></script>

<script src="../static/js/graphiti/graphiti.js"></script>
<script src="../static/js/graphiti/SnapToHelper.js"></script>

<script src="../static/js/graphiti/util/Color.js"></script>
<script src="../static/js/graphiti/util/ArrayList.js"></script>
<script src="../static/js/graphiti/util/UUID.js"></script>
<script src="../static/js/graphiti/geo/PositionConstants.js"></script>
<script src="../static/js/graphiti/geo/Point.js"></script>:
<script src="../static/js/graphiti/geo/Rectangle.js"></script>

<script src="../static/js/graphiti/command/CommandType.js"></script>
<script src="../static/js/graphiti/command/Command.js"></script>
<script src="../static/js/graphiti/command/CommandStack.js"></script>
<script src="../static/js/graphiti/command/CommandStackEvent.js"></script>
<script src="../static/js/graphiti/command/CommandStackEventListener.js"></script>
<script src="../static/js/graphiti/command/CommandMove.js"></script>
<script src="../static/js/graphiti/command/CommandResize.js"></script>
<script src="../static/js/graphiti/command/CommandConnect.js"></script>
<script src="../static/js/graphiti/command/CommandReconnect.js"></script>
<script src="../static/js/graphiti/command/CommandDelete.js"></script>
<script src="../static/js/graphiti/command/CommandAdd.js"></script>

<script src="../static/js/graphiti/layout/connection/ConnectionRouter.js"></script>
<script src="../static/js/graphiti/layout/connection/DirectRouter.js"></script>
<script src="../static/js/graphiti/layout/connection/ManhattanConnectionRouter.js"></script>
<script src="../static/js/graphiti/layout/connection/BezierConnectionRouter.js"></script>

<script src="../static/js/graphiti/layout/mesh/MeshLayouter.js"></script>
<script src="../static/js/graphiti/layout/mesh/ExplodeLayouter.js"></script>
<script src="../static/js/graphiti/layout/mesh/ProposedMeshChange.js"></script>

<script src="../static/js/graphiti/layout/locator/Locator.js"></script>
<script src="../static/js/graphiti/layout/locator/PortLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/InputPortLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/OutputPortLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/ConnectionLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/ManhattanMidpointLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/CenterLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/TopLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/RightLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/LeftLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/BottomLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/TopLeftLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/TopRightLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/BottomRightLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/ContainerLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/UnbindLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/DeviceLocator.js"></script>

<script src="../static/js/graphiti/Canvas.js"></script>
<script src="../static/js/graphiti/Figure.js"></script>
<script src="../static/js/graphiti/shape/node/Node.js"></script>
<script src="../static/js/graphiti/VectorFigure.js"></script>
<script src="../static/js/graphiti/shape/basic/Rectangle.js"></script>
<script src="../static/js/graphiti/SetFigure.js"></script>
<script src="../static/js/graphiti/SVGFigure.js"></script>

<script src="../static/js/graphiti/shape/icon/Icon.js"></script>
<script src="../static/js/graphiti/shape/icon/ProteinIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/InducerIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/MetalIonIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/TemperatureIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/RORAIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/PandR.js"></script>
<script src="../static/js/graphiti/shape/icon/PandA.js"></script>
<script src="../static/js/graphiti/shape/icon/PandP.js"></script>
<script src="../static/js/graphiti/shape/icon/R.js"></script>
<script src="../static/js/graphiti/shape/icon/A.js"></script>
<script src="../static/js/graphiti/shape/icon/PandRORA.js"></script>
<script src="../static/js/graphiti/shape/icon/Remove.js"></script>
<script src="../static/js/graphiti/shape/icon/Activate.js"></script>
<script src="../static/js/graphiti/shape/icon/Inhibit.js"></script>
<script src="../static/js/graphiti/shape/icon/CoExpress.js"></script>

<script src="../static/js/graphiti/shape/basic/Oval.js"></script>
<script src="../static/js/graphiti/shape/basic/Circle.js"></script>
<script src="../static/js/graphiti/shape/basic/Diamond.js"></script>
<script src="../static/js/graphiti/shape/basic/Label.js"></script>
<script src="../static/js/graphiti/shape/basic/Line.js"></script>
<script src="../static/js/graphiti/shape/basic/PolyLine.js"></script>
<script src="../static/js/graphiti/Connection.js"></script>
<script src="../static/js/graphiti/ResizeHandle.js"></script>
<script src="../static/js/graphiti/LineResizeHandle.js"></script>
<script src="../static/js/graphiti/LineStartResizeHandle.js"></script>
<script src="../static/js/graphiti/LineEndResizeHandle.js"></script>
<script src="../static/js/graphiti/Port.js"></script>
<script src="../static/js/graphiti/InputPort.js"></script>
<script src="../static/js/graphiti/OutputPort.js"></script>
<script src="../static/js/graphiti/HybridPort.js"></script>
<script src="../static/js/graphiti/ConnectionAnchor.js"></script>

<script src="../static/js/graphiti/shape/arrow/CalligrapherArrowLeft.js"></script>
<script src="../static/js/graphiti/shape/arrow/CalligrapherArrowDownLeft.js"></script>
<script src="../static/js/graphiti/shape/node/Start.js"></script>
<script src="../static/js/graphiti/shape/node/End.js"></script>
<script src="../static/js/graphiti/shape/node/Between.js"></script>
<script src="../static/js/graphiti/shape/note/PostIt.js"></script>

<script src="../static/js/graphiti/shape/widget/Widget.js"></script>
<script src="../static/js/graphiti/shape/widget/Slider.js"></script>

<script src="../static/js/graphiti/shape/diagram/Diagram.js"></script>
<script src="../static/js/graphiti/shape/diagram/Pie.js"></script>
<script src="../static/js/graphiti/shape/diagram/Sparkline.js"></script>

<script src="../static/js/graphiti/shape/analog/OpAmp.js"></script>
<script src="../static/js/graphiti/shape/analog/ResistorBridge.js"></script>
<script src="../static/js/graphiti/shape/analog/ResistorVertical.js"></script>
<script src="../static/js/graphiti/shape/analog/VoltageSupplyHorizontal.js"></script>
<script src="../static/js/graphiti/shape/analog/VoltageSupplyVertical.js"></script>

<script src="../static/js/graphiti/ui/LabelEditor.js"></script>
<script src="../static/js/graphiti/ui/LabelInplaceEditor.js"></script>

<script src="../static/js/graphiti/io/Reader.js"></script>
<script src="../static/js/graphiti/io/Writer.js"></script>
<script src="../static/js/graphiti/io/png/Writer.js"></script>
<script src="../static/js/graphiti/io/svg/Writer.js"></script>
<script src="../static/js/graphiti/io/json/Writer.js"></script>
<script src="../static/js/graphiti/io/json/Reader.js"></script>

<script src="../static/js/graphiti/decoration/connection/Decorator.js"></script>
<script src="../static/js/graphiti/decoration/connection/ArrowDecorator.js"></script>
<script src="../static/js/graphiti/decoration/connection/TDecorator.js"></script>
<!--custom js-->
<script type="text/javascript" src="static/js/cursor-controller.js"></script>
<script type="text/javascript" src="static/js/dna.js"></script>
<script src="../static/js/shape-view.js"></script>
<script src="../static/js/shape.js"></script>
{%endblock script %}
