{% extends "layout.html" %}
{% block title %}simulation{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/simulation.css" />
{% endblock %}
{% block content %}
<div id="simulation_wrap">
    <div id="simulation_draw">
        <div id="simulation_main_draw">
            <div id="Static" class="ui segment glass">
                <div class="ui red label">Static</div>
                <div id="Static_main"></div>
            </div> <!-- end of simulation_static -->

            <div id="Dynamic" class="ui segment draw_item glass modal-active">
                <div class="ui red label">Dynamic</div>
                <div class="dynamic_box">
                    <i id="show_dynamic_box"  class="search icon"></i>
                    <div class="ui segment blackglass" id="graph3"></div>
                </div>
            </div> <!-- end of simulation_dynamic -->
        </div> <!-- end of simulation_main_draw -->
    </div> <!-- end of simulation_draw -->

    <div class="blackglass" id="simulation_adjust">
        <div class="ui button toolbar">
            <i class="arrow up big icon"></i>
        </div>
        <div id="simulation_circuit">
            <div class="ui menu"></div>
            <div id="simulation_circuit_main">
                <div id="logic_box"></div>
            </div>
        </div> <!-- end of simulation_circuit -->

        <div id="simulation_adjust_main">
            <table>
                <tr>
                    <th></th>
                    <th><div class="ui red label">RIPS</div></th>
                </tr>
            </table>
        </div> <!-- end of simulation_adjust_main -->
    </div> <!-- end of simulation_adjust -->
</div> <!-- end of simulation_wrap -->

<div class="ui basic modal" id="draw_modal">
    <div class="ui segment glass content" id="modal_content">
    <i class="close icon"></i>
        <div class="left" id="showgraph"></div>
        <div class="right" id="modal_right">
            <div id="static_adjust_box">
                <h3>Concentration of input</h3>
                <div id="static_adjust_input" class="input_range">
                    <span>0.0001 mM</span>
                    <input class="adjust_input" type="range" min="0.0001" max="1.0001" step="0.05" value="0.0001" name="other_c" />
                    <output for="other_c">0.0001</output>
                    <span>1 mM</span>
                </div>
            </div> <!-- end of static_adjust_box -->
            <div id="dynamic_adjust_box">
                <h3>Time interval</h3>
                <div id="dynamic_adjust_input" class="input_range">
                    <span>20 min</span>
                    <input class="adjust_input" type="range" min="20" max="600" step="20" value="60" name="timeInterval" />
                    <output for="timeInterval">60 min</output>
                    <span>600 min</span>
                </div>
            </div> <!-- end of dynamic_adjust_box -->
        </div> <!-- end of right -->
    </div>
</div> <!-- end of ui modal -->
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/ichart.1.2.min.js" ></script>
<script type="text/javascript" src="/static/js/simulation-data.js" ></script>
<script type="text/javascript" src="/static/js/simulation-draw.js" ></script>
<script type="text/javascript" src="/static/js/simulation-ctrl.js" ></script>
<script type="text/javascript" src="/static/js/input-range.js" ></script>
{% endblock %}
