body {
    overflow:hidden;
}
#addCircuit {
    margin-left:0.25em;
    padding:0.25em;
}

#circuits li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

#circuits {
    height:100%;
}

#circuits ul {
    height:8%;
}

.circuit {
    height:92%;
}

.circuit .column {
    height:100%;
}

/*.content .ui-selecting { background: #FECA40; }*/
/*.content .ui-selected { background: #F39814; color: white; }*/
.content { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.content li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/*right-container*/
#right-container {
  position: absolute;
  top: 0;
  right:-455px;
  width: 445px;
  height: 100%;
  padding:10px 0;  
  background-color: white;
  z-index: 1056;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

.trigger-right {
  position: absolute;
  width:50px;
  left: -50px;
  top: 50%;
}

#right-container > .accordion {
    height:100%;
}

#right-container > .accordion > .content {
    padding:3px;
    height:80%;
}

#chose-steps {
    margin-left:0px;
    width:427px;
}

#right-container .ui.items {
    height:90%;
    overflow:auto;
    width:425px;
}

/*other*/

.ui.items>.item {
    min-height:30px;
    width:90%;
}

.item .part {
    width: 90%;
    height:50%;
}

.parts {
    margin:0;
    padding:0;
}

.parts.items {
    height:100%;
}

.part {
    height:50%;
    width:100%;
}

.part .left {
    width: 35%;
    float:left;
}

.part .right {
    margin:20% 0;
    float:right;
    height:60%;
}
