body {
    overflow:hidden;
}

.ui.grid {
    margin:0;
}

#addCircuit {
    margin-left:0.25em;
    padding:0.25em;
}

#circuits li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

#circuits {
    height:100%;
}

#circuits ul {
    height:8%;
}

.delete {
    position:absolute;
    top:1px;
    right:0px;
}

.circuit {
    position:absolute;
    left:0px;
    height:92%;
    width:100%;
    transition: right 1s;
    -webkit-transition: right 1s;   /* Safari 和 Chrome */
    padding:1%;
}

.submit {
    position:absolute;
    bottom:10px;
    right:10px;
}

#circuits .column {
    height:90%;
    border:2px black solid;
    float:left;
    margin:0;
    padding:0;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#circuits .column.parts {
    width:25%;
    margin:0
}

#circuits .column.logic {
    width:25%;
    margin:0;
    margin-left:20px;
    display:block;
}

#circuits .column.outputs {
    width:20%;
    margin:0 20px;
}

#circuits .column.truthtable {
    width:45%;
    margin:0;
    display:none;
}

.ui.checkbox.mode {
    position:absolute;
    top:10px;
    right:10px;
    height:50px;
    width:100px;
}

/*.content .ui-selecting { background: #FECA40; }*/
/*.content .ui-selected { background: #F39814; color: white; }*/
.content { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.content li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/*right-container*/
#right-container {
    position: absolute;
    top: 0;
    right:-455px;
    width: 445px;
    height: 100%;
    padding:10px 0;  
    background-color: white;
    z-index: 1056;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

.trigger-right {
    position: absolute;
    width:50px;
    left: -50px;
    top: 50%;
}

#right-container > .accordion {
    height:100%;
}

#right-container > .accordion > .content {
    padding:3px;
    height:80%;
}

#chose-steps {
    margin-left:0px;
    width:427px;
}

#right-container .ui.items {
    height:100%;
    overflow:auto;
    width:425px;
}

/* biobirck */
.ui.items > .biobrick {
    width:400px;
}

.ui.items > .biobrick > .left {
    width:150px;
    float:left;
    margin-top:30px;
}

.ui.items > .biobrick > .left > img {
    margin:30px auto;
    height:100px;
    width:100px
}

.ui.items > .biobrick > .right {
    width:200px;
    float:right;
}

.search {
    width:400px;
}

#inputpart {
    height:90%;
}

/* ui items */
.ui.items {
    height:100%;
}

.ui.items>.item {
    min-height:100px;
    margin:5px;
}

/* parts */
.item.part {
    height:260px;
    width:300px;
    float:center;
}

.part img {
    margin:10px auto;
}

.part .left {
    float:left;
    width:90px;
    height:180px;
}

.part .right {
    margin-top:50px;
    float:right;
    height:200px;
    width:150px;
}

.part .right > .segment {
    height:150px;
}

.part .left .row {
    margin:0;
    height:120px;
}


/* truth table */
.edittruth {
    float:right;
    width:40px;
}

.edittruth > div {
    width:100%;
}

.truthtable .table {
    margin:20px 10px;
    float:left;
    display:none;
}

.ui.items .item>.image {
    background:0 0;
}

.outputs .item.littleoutput {
    height:150px;
    width:150px;
    margin:20px auto;
    float:center;
}

.outputs .item.littleoutput > img {
    margin:10px auto;
}

.label {
    text-align:center;
}

.logic .item.littlelogic {
    height:150px;
    width:150px;
    margin:20px auto;
    float:center;
}

.logic .item.littlelogic > img {
    margin:20px auto;
}

.logic .item.logiccontainer {
    height:150px;
    width:150px;
    margin:20px auto;
    float:center;
}
