body {
    overflow:hidden;
    /*-webkit-backface-visibility:hidden;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
}

.ui.grid {
    margin:0;
}

#addCircuit {
    margin-left:0.25em;
    padding:0.25em;
}

#circuits li .deletecircuit {float: right; margin: 0.4em 0.2em 0 0; cursor: pointer;}
#circuits li.ui-tabs-active.ui-state-active {background-color:#10cdcc;}
#circuits li.ui-state-default {background-color:#707070;}
#circuits li.ui-state-default > a {float:left;color:#ffffff;}
#circuits li.ui-state-default > a:focus,
#circuits li.ui-state-default:focus {
    outline:none;
}

.ui-state-highlight {
    background-color: rgba(255, 0, 0, 0.2) !important;
}

#circuits {
    height:100%;
    background:none;
    border:none;
}

#circuits ul {
    height:8%;
    background:none;
    border:none;
}

.delete {
    position:absolute;
    top:0px;
    right:0px;
    background:none !important;
    height:5px;
    width:5px;
    padding:0px;
}

.circuit {
    position:absolute;
    left:0px;
    height:92%;
    width:100%;
    transition: right 1s;
    -webkit-transition: right 1s;   /* Safari 和 Chrome */
    padding:1%;
    background:none;
}

.submit {
    position:absolute;
    bottom:10px;
    right:10px;
}

#circuits .column {
    height:90%;
    /*border:2px black solid;*/
    float:left;
    margin:0;
    padding:0;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#circuits .column.parts {
    width:25%;
    margin:0
}

#circuits .column.logics {
    width:25%;
    margin:0;
    margin-left:20px;
    display:block;
}

#circuits .column.outputs {
    width:20%;
    margin:0 20px;
}

#circuits .column.truthtable {
    width:45%;
    margin:0;
    display:none;
}

.ui.checkbox.mode {
    position:absolute;
    top:10px;
    right:10px;
    height:50px;
    width:100px;
}

/*.content .ui-selecting { background: #FECA40; }*/
/*.content .ui-selected { background: #F39814; color: white; }*/
.content { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.content li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/*right-container*/
#right-container {
    position: absolute;
    top: 0;
    right:-455px;
    width: 445px;
    height: 100%;
    padding:10px 0;  
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#right-container .title {
    color:white;
}

#right-container .trigger-right {
    position: absolute;
    width:40px;
    left: -40px;
    top: 48%;
    background:none;
    padding:0;
    border:none;
}

#right-container .trigger-right > i {
    float:left;
    border:none;
}

.ui.button > i {
    color:black;
    border:none;
}

.ui.button > i:hover {
    color:#10cdcc;
}

#right-container > .accordion {
    height:100%;
    background:none;
}

#right-container > .accordion > .content {
    padding:3px;
    height:80%;
    width:445px;
    color:white;
}

#chose-steps {
    margin-left:0px;
    width:auto;
    border:#10cdcc 1px solid;
}

.ui.active.step, .ui.steps .step.active, 
.ui.active.steps:after, .ui.steps .step.active:after,
.ui.steps .step.active:hover:after{
    background-color:#10cdcc;
}

.ui.step, .ui.steps .step,
.ui.step:after,
.ui.steps .step:hover:after,
.ui.steps .step:after,
.ui.disabled.step,
.ui.steps .disabled.step,
.ui.disabled.step:hover:after,
.ui.disabled.step:after,
.ui.steps .disabled.step:after {
    background-color:black;
}

.ui.steps .disabled.step:hover {
    color:#CBCBCB;
}
.ui.steps .step.active:hover {
    color:white;
}
.ui.steps .step:hover {
    color:#10cdcc;
}


.ui.step, .ui.steps .step, .ui.steps .step:after {
    border-right:#10cdcc 1px solid;
    border-bottom:#10cdcc 1px solid;
}

#circuits .ui.segment.column {
    background-color: rgba(95, 200, 201, 0.1);
}

.ui.items {
    background:none;
}

#right-container .ui.items {
    height:100%;
    overflow:auto;
    width:425px;
}

#right-container .ui.items .item {
    background:rgba(0, 0, 0, 0.5) !important;
}

#right-container .ui.items .item .ui.segment {
    border:#10cdcc 2px solid;
    background:none;
}

.circuit .ui.items .item .ui.segment {
    border:#10cdcc 2px solid;
    background:none;
}

.logic {
    width:425px !important;
}

.logic .left {
    width:200px;
    float:left;
}

.logic .left img {
    height:150px !important;
    width:150px !important;
}

.logic .right {
    width:200px;
    height:200px;
    float:right;
}

.ui.ribbon.label {
    border-color:#E8E8E8;
}

/* biobirck */
.ui.items > .biobrick {
    width:400px;
}

.ui.items > .biobrick > .left {
    width:150px;
    float:left;
    margin-top:30px;
}

.ui.items > .biobrick > .left > img {
    margin:30px auto;
    height:100px;
    width:100px
}

.ui.items > .biobrick > .right {
    width:200px;
    float:right;
}

.search {
    width:400px;
}

.search > input {
    background-color:rgba(0, 0, 0, 0.5)!important;
    color:white!important;
}

#inputpart {
    height:90%;
}

/* ui items */
.ui.items {
    height:100%;
}

.ui.items>.item {
    min-height:100px;
    margin:5px;
}

/* parts */
.ui.items > .item.part {
    height:260px;
    width:300px;
    float:center;
}

.ui.items > .item.part .ui.segment {
    background-color:none;
}

.itemglass {
    background-color:rgba(0, 0, 0, 0.2) !important;
}

.part img {
    margin:5px auto !important;
}

.part .left {
    float:left;
    width:120px;
    height:180px;
}

.part .left .ui.segment {
    padding:0;
    height:110px;
}

.part .left img {
    width:70px;
    height:70px;
}

.part .right {
    margin-top:50px;
    float:right;
    height:200px;
    width:150px;
}

.part .right > .segment {
    height:150px;
}

.part .left .row {
    margin:0;
    height:120px;
}


/* truth table */
.edittruth {
    float:right;
    width:40px;
}

.edittruth > div {
    width:100%;
}

.edittruth .ui.button {
    background:none;
}

.truthtable .table {
    margin:20px 10px;
    float:left;
    display:none;
}

.ui.items .item>.image {
    background:0 0;
}

.outputs .item.littleoutput {
    height:150px;
    width:150px;
    float:center;
}

.outputs .item.littleoutput > img {
    margin:10px auto;
}

.label {
    text-align:center;
    background:rgba(157, 183, 187, 1) !important;
}

.label:after {
    border-right-color:rgba(157, 183, 187, 1) !important;
}

.logics .item.littlelogic {
    height:150px;
    width:150px;
    float:center;
}

.logics .item.littlelogic > img {
    margin:20px auto;
}

.outputs .item.outputcontainer,
.logics .item.logiccontainer {
    height:150px;
    width:150px;
    float:center;
}

/* recommend logics */
#recommendlogics {
    height:80%;
}

.ui.items {
    padding:10px !important;
}

.item {
    margin:0 auto 10px auto !important;
}

.ui.popup {
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
}

.ui.popup:before {
    background:none;
    border-top:1em solid rgba(0, 0, 0, 0);
    border-right:1em solid rgba(0, 0, 0, 0.5);
}

#recommend {
    height:100%;
}

#logic-steps {
    width:450px !important;
    margin:0 auto;
    display:block !important;
}

#recommend .ui.items {
    width:450px !important;
    height:60%;
    overflow:auto;
    margin:10px auto;
}

#recommend .ui.items .item {
    background:rgba(0, 0, 0, 0.5) !important;
}
#recommend .ui.items .item .left {
    background:none !important;
}

#recommend .ui.segment {
    border:#10cdcc 2px solid;

}

#recommend .actions {
    width:450px;
    margin:0 auto;
}

#recommend .actions .button {
    width:100%;
    background-color:#10cdcc !important;
}

.actions .button > i:hover {
    color:white;
}

.ui.dimmer {
    background:rgba(0, 0, 0, 0.7);
}

table {
    background:rgba(0, 0, 0, 0.2)!important;
}

th {
    background:none !important;
}

#upload {
    position:absolute;
    right:0px;
    top:0px;
    z-index:800;
}
