.top {
    height: 70%;
}

.bottom {
    height: 29%;
}

.top-left {
    width:85%;
    height: 99%;
    float:left;
}

.top-right {
    width: 14%;
    height: 99%;
    float:right;
}

.bottom-left {
    height: 99%;
    width: 70%;
    float: left;
}

.bottom-right {
    height: 99%;
    width: 29%;
    float: right;
}

.slider {
    width:90%;
    height:60%;
    margin-left:2%;
}

#panels {
    float:right;
    width:80%;
    height:97%;
    margin-left:1px;
}

#panels li {
    width:100%;
    height:19%;
}

#panels li a {
    text-indent:0;
    line-height:1.5;
    width:75%;
}

#slider-vertical {
    float:left;
    width:5%;
    height:75%;
    margin-top:25%;
    margin-left:3%;
}

#tabs {
    height:100%;
}

#tabs>div {
    height: 100%;
    padding:0;
}

#tools {
    height:100%;
    width:14%;
    float:left;
}

#canvas-circuit {
    height:100%;
    width:85%;
    float:right;
}

#tools>div {
    font-size:14px;
    width:150px;
    height:40px;
}
