#slider {
    height:30px;
    width:200px;
    position:fixed;
    bottom:0px;
    right:0px;
}
#devices {
    height:10000px;
    width:10000px;
    margin:0;
    padding:0;
}

.main {
    overflow:auto;
}
