* {
  margin: 0;
  padding: 0;
}

#dna_container, #dna_footer {
  width: 100%;
  overflow: hidden;
}

#dna_container {
  border: 1px solid gray;
  height: 600px;
}

#dna_main {
  width: 90%;
  height: 100%;
  float: left;
}

#dna_header {
  width: 100%;
  height: 15%;
}

#dna_header li {
  list-style: none;
  margin: 5px;
}

#dna_content {
  width: 95%;
  height: 80%;
  margin: auto;
  overflow-y: auto;
  letter-spacing: 0.5em;
  font-size: 20px;
  position: relative;
  font-family: Courier New;
}

#dna_content table,
#dna_content tr,
#dna_content td {
  border: 0;
}

#dna_aside {
  width: 10%;
  height: 100%;
  float: left;
}

#dna_aside button {
  width: 80%;
  margin: 5px;
  font-size: 16px;
  padding: 4px;
}

#dna_aside>button:last-child {
  display: none;
}

.dna_line {
  margin-bottom: 40px;
  word-spacing: nowrap;
  border-collapse: collapse;
}

.first_strand {
  background-color: gray;
}

.first_strand td::selection {
  background-color: yellow;
}

.second_strand::selection {
  background-color: transparent;
}

