* {
  margin: 0;
  padding: 0;
}


#dna_container, #dna_footer {
  width: 99%;
  overflow: hidden;
}

#dna_container {
  border: 1px solid gray;
  height: 600px;
  text-align: left;
}

#dna_main {
  width: 90%;
  height: 100%;
  float: left;
}

#dna_header {
  width: 100%;
  height: 70px;
  overflow:  hidden;
}

#dna_header ul {
  float: left;
  margin-right: 5%;
}

#dna_header li {
  list-style: none;
  margin: 5px;
  font-size: 14px;
  text-align: left;
}

#dna_content {
  width: 93%;
  height: 80%;
  margin: auto;
  overflow-y: auto;
  letter-spacing: 0.5em;
  font-size: 20px;
  font-family: Courier New;
}

#dna_aside {
  width: 10%;
  height: 100%;
  float: left;
}


#dna_aside button {
  width: 80%;
  margin: 5px;
  font-size: 16px;
  padding: 4px;
}

#dna_aside>button:last-child {
  display: none;
}

.dna_line {
  margin-bottom: 40px;
  width: 100%;
  overflow-x: hidden;
  font-size: 24px;
  letter-spacing: 0.5em;
  font-family: Courier New;
}

/* 第一条链外的div和第二条链外的div */
.dna_line>div:nth-child(2),
.dna_line>div:nth-child(3) {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
}

.dna_line>div:nth-child(2) span {
  background-color: gray;
}

.first_strand, .second_strand {
  background-color: transparent;
}

.first_strand::selection {
  background-color: yellow;
}

.second_strand::selection {
  background-color: transparent;
}

.dna_line input {
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  font-size: 24px;
  letter-spacing: 0.5em;
  font-family: Courier New;
  ime-mode: disabled;
  position: absolute;
}

#dna_modal_box {
  font-size: 16px;
  border: 2px solid #CDAD00;
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
  padding: auto;
  color: #CDAD00;
  position: fixed;
  left: 0; top: 0;
  display: none;
}

#dna_modal_box>div {
  width: 100%;
  background-color: #FFFACD;
}

#dna_modal_box div:first-child {
  overflow: hidden;
}


#dna_modal_box>div:first-child>p {
  width: 90;
  float: left;
  text-align: center;
}

#dna_modal_box .remove.icon {
  float: left;
  width: 10%;
}

#dna_modal_box .trash.icon {
  float: right;
  width: 10%;
}


#dna_modal_box input {
  width: 90%;
  margin: 5%;
  outline: skyblue;
  border-color: skyblue;
}

.dna_tag p {
  display: inline;
  letter-spacing: 0;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  font-size: 18px;
}

.dna_tag>span {
  position: relative;
  top: 0;
  left: 0;
}

