#experiment_header {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

#left_header {
  float: left;
  width: 10%;
  height: 100%;
  padding-left: auto;
}

#left_header ul {
  width: 80%;
  height: 80%;
  padding: 10%;
  margin: 0;
}

#left_header li {
  list-style: none;
  margin: 12%;
}

#left_header span {
  padding: 5%;
  background-color: #7A67EE;
}

#header_title {
  width: 60%;
  height: 100%;
  float: left;
}

#header_title h1 {
  margin-top: 3%;
}

#right_header {
  width: 30%;
  height: 100%;
  float: left;
}

#experiment_main {
  width: 100%;
  border: 2px gray solid;
  border-radius: 5px;
}

#experiment_content .ui.bottom.attached.segment {
  width: 100%;
}

#experimental_records_content {
  width: 80%;
  margin: auto;
}

#records_header_input input {
  width: 200px;
  height: 30px;
  font-size: 20px;
}

#records_time {
  padding: 10px;
  font-size: 14px;
}

#records_content {
  width: 100%;
}

#records_content table {
  width: 100%;
  border-collapse: collapse;
}

#records_content tr {
  width: 100%;
}

#records_content td, th {
  border: 1px solid gray;
  width: 33%;
  padding: 0;
}

.components_input {
  width: 300px;
  overflow: hidden;
}

.select_option_box {
  width: 70%;
  float: left;
}

.records_unit {
  width: 30%;
  float: left;
}

.records_unit input {
  width: 92%;
}

.select_option {
  width: 100%;
  display: block;
}

.other_option_main {
  width: 100%;
  display: none;
}

.ui.secondary.pointing.menu {
  margin: 0;
}

#experimental_procedure {
  margin: 0;
  display: block;
  overflow: hidden;
  width: 100%;
}

#experimental_records {
  display: none;
}

.records_input_box {
  width: 100%;
  margin: 0;
  border: 0;
  height: 100%;
}


.ui.vertical.menu {
  width: 20%;
  float: left;
}

.ui.vertical.menu a {
  padding: 10px;
}

#show_article_content {
  float: left;
}

.ui.top.attached.tabular.menu {
  border: none;
}
