body {
  margin: 0;
  padding: 0;
  width: 100%;
  /*height: 780px;*/
  height:100%;
  font-family: Arial, '宋体';
  /*font-size: 14px;*/
  /*background-image:-webkit-linear-gradient(top left, black, gray, rgb(142, 110, 110));*/
  background-image:-webkit-linear-gradient(top left, #192124, #808688, #38312f);
  /*background-image:-webkit-linear-gradient(top left, #192124, #808688, #192124);*/
}

a {
    text-decoration:none;
}

.operate{
	width: 100%;
	/*height: 87%;*/
    height:700px;
    margin: 1% 0 .5% 0;
    background:none;
}
.input .popup{
	color: red;
}
.sidebar .icon.remove{
	position: absolute;
	color: #CC181E;
	font-size: 25px;
	right: 0;
	top: 5px;
	margin: 0;
	z-index: 1;
	transition: color .2s;
	cursor: pointer;
}
.sidebar .icon.remove:hover{
	color: #F6292F;
}

.ui.popup{
	z-index: 1000;
}
.ui.button{
	text-transform: capitalize;
}

.main {
	background: none;
    height: 100%;
    width: 95%;
    margin:0 auto;
} 

.glass {
    background-color: rgba(95, 200, 201, 0.1) !important;
}

.blackglass {
    background-color: rgba(0, 0, 0, 0.6) !important;
}


.dock {
	position: relative; 
	height: 200px; 
	text-align: center;
}

/* dock2 - bottom */
.dock-container2 {
	position: absolute;
	height: 200px;
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 150px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}

#indexmenu,
#indexmenu > .content,
#indexmenu > .content > .center {
    background:none!important;
    border:none!important;
}

#showdimmer > img {
    width:100px!important;
    height:100px!important;
}

#showdimmer {
    width:100px;
    height:100px;
}
