body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 750px;
  font-family: Arial, '宋体';
  /*font-size: 14px;*/
}
#search-form-small{
	position: relative;
	width: 480px;
    z-index:100
}
#search-form-small .database-check{
	position: absolute;
	top: 41px;
	margin: 0;
}
/*.dp-inblock{
	display: inline-block;
}
.text-right{
	text-align: right;
}*/
.ui.large.message.database-check{
	width: 420px;
	padding: 15px 0px 5px 15px;
	background: #fcfcfc;
	margin-top: -2px;
}
.database-check .checkbox{
	width: 190px;
	height: 28px;
	font-size: 16px;
}
#search-big-input{
	width: 380px;
}
.ui.very.wide.sidebar {
	width: 445px!important;
	padding: 10px 10px 3px 10px;
	border-right: 1px solid #ddd;
	background: white;
}
.operate{
	background: #eee;
	margin: .5% 0 0 .5%;
	width: 99.5%;
	height: 99.5%;
}
.input .popup{
	color: red;
}
.sidebar .icon.remove{
	position: absolute;
	color: #CC181E;
	font-size: 25px;
	right: 0;
	top: 5px;
	margin: 0;
	z-index: 1;
	transition: color .2s;
	cursor: pointer;
}
.sidebar .icon.remove:hover{
	color: #F6292F;
}
#search-form-big{
	margin-bottom: 10px;
}
.ui.button.icon.miniest{
	padding: .3em 1.2em;
	font-size: 1.2em;
}
.ui.selection.dropdown.miniest{
	padding: .25em 1em;
}
.ui.selection.dropdown.miniest .text{
	width: 280px;
}
.ui.popup{
	z-index: 1000;
}
#search-window .result-table{
	position: absolute;
	top: 235px;
	bottom: 20px;
	overflow-y: auto;
	width: 420px;
	padding-left: 1px;
	border: 1px solid #ccc;
	border-top: none;
}
#search-window .ui.accordion{
	box-shadow: none;
	width: 100%;
}
#search-window .ui.accordion .item{
	padding: 10px 5px;
}
#search-window .ui.accordion .content{
	margin: .5em 24px; 0;
}
#search-window .ui.accordion .icon.dropdown{
	margin: 0;
	font-size: 20px;
/*	position: absolute;
	right: 0;
	top: 30px;*/
	color: #009FDA;
}
#search-window .ui.accordion ul{
	display: inline-block;
	margin: 0;
	list-style: none;
	padding: 0;
	font-size: 15px;
	vertical-align: top;
	width: 360px;
	line-height: 18px;
}
.ui.vertical.menu .item:before{
	background: #ccc;
}
.strong{
	font-weight: bold;
}
.search-keyword{
	color: blue;
	text-decoration: underline;
}
.blue{
	color: blue;
}
#result-total{
	position: absolute;
	bottom: 0;
	right: 20px;
}
#search-window .header{
	font-size: 25px;
    margin-bottom: 12px;
}
.main-header{
	float: right;
	margin-right: 20px;
}
.link{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.mini.ui.modal{
	width: 36%;
	margin-left: -18%;
}
.ui.modal .open-register{
	position: absolute;
	left: 32px;
	bottom: 15px;
}
.ui.button{
	text-transform: capitalize;
}
#login-form-submit, #register-form-submit{
	float: right;
	margin: 15px 32px;
}
.login-box .message, .register-box .message{
	display: none;
}

.main {
    height: 90%;
    width: 90%;
    margin-left:5%;
    margin-top: 1%;
}

.main div {
    border: 1px black solid;
}
