.ui.segment.part {
    position:relative;
    height:150px;
    width:90%;
    margin:50px auto 50px auto;
    /*padding:30px;
    padding-left:0;*/
    float:center;
    background-color: rgba(95, 200, 201, 0.1);
}

.part-container {
    width:90%;
    height:100px;
    margin:10px 0 auto 0px;
    float:right;
    overflow:auto;
}

.title {
    font-size:30px;
    text-align:center;
}

/*.main {
    padding:10px;
}*/

.part-container > div {
    width:0px;
    height:90%;
}

.ui.ribbon.label.title {
    border-color:#E8E8E8 !important;
}
