body {
    overflow:hidden;
}

#simulation_wrap {
    width: 100%;
    height: 100%;
}

#simulation_draw {
    height:500px;
    width: 100%;
}

#simulation_adjust {
    position:fixed;
    bottom:-200px;
    left:0;
    height: 300px;
    width: 100%;
    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;   /* Safari 和 Chrome */
    z-index:999;
}

#simulation_adjust > .toolbar {
    position:absolute;
    width:50px;
    padding:0;
    left:calc(50% - 25px);
    top:-30px;
    background:none!important;
}

#simulation_adjust > .toolbar > i {
    color:black;
}

#simulation_adjust > .toolbar:hover > i {
    color:#00B5AD;
}

#simulation_main_draw {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 0; top: 0;
}

#simulation_main_draw>div {
    height: 85%;
    overflow: hidden;
    position: absolute;
}

#Dynamic {
    width: 75%;
    top: 2%;
    left: 15%;
    z-index: 1;
    opacity: 0.5;
}

#Dynamic > .label {
    float:left;
}

#Static {
    width: 90%;
    top: 12%;
    left: 1%;
    z-index: 2;
    opacity: 1;
}

#Static > .label {
    float:left;
}


.static_box, .dynamic_box {
    position: relative;
    left: 0; top: 0;
}

.static_box i, .dynamic_box i {
    position: absolute;
    top: 10px; right: 10px;
    z-index: 5;
    font-size: 20px;
    opacity: 0.6;
    color:gray;
}

.static_box i:hover, .dynamic_box i:hover {
    color: #00B5AD;
    transform: scale(1.5);
}

#Static span, #Dynamic span {
    font-size: 20px;
    font-weight: bold;
    border: 1px black solid;
}

#simulation_circuit {
    height: 100%;
    width: 40%;
    float: left;
}

#simulation_circuit .ui.menu {
    width: auto;
    height: 15%;
    background-color: transparent;
    margin: 0;
    color: white;
}

#simulation_circuit .ui.dropdown.item,
#simulation_circuit .ui.dropdown.item .item {
    color: white;
}

#simulation_circuit .ui.dropdown.item .item {
    background:rgba(0, 0, 0, 0.5);
}

#simulation_circuit .ui.dropdown.item:hover {
    color:#00B5AD!important;
}

#simulation_circuit .ui.dropdown.item.active:hover {
    color:white!important;
}

#simulation_circuit .menu a {
    margin-top:10px;
    border-radius:5px!important;
}

#simulation_circuit .menu a:hover {
    color:#00B5AD!important;
}

#simulation_circuit .menu a.active:hover {
    color:white!important;
}


#simulation_circuit .ui.dropdown.item.active,
#simulation_circuit .menu a.active {
    background-color:rgba(0, 181, 173, 0.5)! important;
}

.ui.dropdown .menu {
    background:none!important;
}

#simulation_circuit_main {
    width: 100%;
    height: 85%;
}

#logic_box {
    width: 300px;
    height: 200;
    overflow-y: auto;
    margin: auto;
    margin-top: 2%;
    padding-top:10px;
}

.logic_item {
    min-height:200px!important;
    height: 100%;
    width: 100%;
    text-align:center;
    background:rgba(0, 0, 0, 0.5)!important;
    position: relative;
    left: 0; top: 0;
}

.labelbg {
    background: rgba(157, 183, 187, 1) !important;
}

.logic_item > img {
    width:140px;
    height:140px;
}

#simulation_adjust_main {
    height: 100%;
    width: 60%;
    float: left;
    overflow-y: auto;
}

#simulation_adjust_main table {
    width: 100%;
    height: 100%;
    color: white;
}

#simulation_adjust_main tr {
    width: 100%;
}

#simulation_adjust_main th {
    text-align: center;
}

#simulation_adjust_main th:first-child {
    width: 80%;
}

.part {
    float: left;
    margin-right: 5%;
    text-align: center;
    position: relative;
    left: 0; top: 0;
    width: 15%;
}



.part p {
    border: 1px solid white;
    color: white;
}

.part_line {
    width: 100%;
}

.part_line td:first-child {
    width: 80%;
}

.mid_line {
    height: 5px;
    width: 60%;
    background-color: gray;
    position: relative;
    left: 47px;
    top: 34px;
}

.adjust_part {
    width: 100%;
    overflow: hidden;
    position: relative;
    left: 0; top: 0;
}

.adjust_part output {
    bottom: 72%;
    width: 70px;
}

.adjust_part>* {
    float: left;
    margin: 0;
}

.left.arrow.icon, .right.arrow.icon {
    display: block;
    width: 15%;
    margin: 3px 0 3px 0;
}

.left.arrow.icon:hover, .right.arrow.icon:hover {
    color: #D95C5C;
}

.adjust_part>input {
    width: 70%;
}

#Static_main {
    width: auto;
    height: 100%;
}

.static_box {
    float: left;
    width: 450px;
    margin: 0 3% 0 3%;
}

.search.icon {
    position:absolute;
    right:10px;
    top:30px;
}

.dynamic_box {
    margin: auto;
    float:left;
}

.adjust_box {
    border: 1px solid gray;
    text-align: center;
}

.adjust_box th {
    font-size: 10px;
}

.part_img {
    width: 100%;
    height: 95%;
    padding: auto;
    margin-bottom: 5%;
}

.part_img img {
    height: 60px;
    width: 60px;
}


#showgraph {
    width: 65%;
}

.right fieldset {
    width: 230px;
}

.right fieldset {
    padding: 5%;
    margin: 5%;
}

.right fieldset>div {
    overflow: hidden;
}

.right fieldset>div>span, .right fieldset>div>input {
    float: left;
}

#draw_modal {
    width: 80%;
}

#modal_content {
    padding: 10px;
}

#modal_content > i {
    position:absolute;
    top:2px;
    right:0;
}

#modal_content > i:hover {
    color:#00B5AD;
    cursor:pointer;
}

#modal_right {
    padding: 0;
}

#static_adjust_box,
#dynamic_adjust_box {
    display:  none;
}

#static_adjust_box h3,
#dynamic_adjust_box h3 {
    margin: 10px;
    text-align: center;
}

.input_range {
    height:  20px;
    position: relative;
}

.input_range *:not(output) {
    display: block;
    float:  left;
    height: 100%;
}


output {
    position: absolute;
    opacity: 0.7;
    background-image: -moz-linear-gradient(top, #444444, #999999);
    background-image: -o-linear-gradient(top, #444444, #999999);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background-image: -webkit-linear-gradient(top, #444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display:  none;
    font: bold 15px/30px Georgia;
    bottom: 180%;
    left: 0;
    margin-left: -1%;
    z-index: 99999;
}

output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

.s_graph {
    float: left;
}


