<html>
  <head>
    <link rel="stylesheet" style="text/css" href="../static/css/basic_operations.css" />
  </head>
  <body>
    <div id="basic_operations_box">
      <div id="basic_operations_buttons">
        <button type="button">Save My Files</button>
        <button type="button">View My Files</button>
      </div>
      <div id="basic_operations_userIcon">
        <img src="" alt="user's icon" />
      </div>
      <div id="basic_operations_info">
        <ul>
          <li>Welcome! <a href="">Help</a></li>
          <li>Label</li>
          <li><a href="">Log off</a></li>
        </ul>
      </div>
    </div> <!-- end of basic_operations_box -->
  </body>
</html>
